$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-dark-brown: rgb(33, 33, 33);
$color-text: rgb(61, 66, 82, 1);
$color-flat-grey: rgb(229, 229, 229);
$color-dark-blue: rgb(4, 56, 110);
$color-border-line: rgba(230, 231, 236, 1);
$color-green: rgb(1, 166, 111);
$color-red: rgb(255, 0, 0);
